# IntelliJ IDEA 설정 파일 및 디렉토리
.idea/
.gradle/

# Visual Studio Code 설정 파일 및 디렉토리
.vscode/

# Git 설정 파일 및 디렉토리
.git/
.gitignore

# Gradle 빌드 디렉토리
build/

# Spring Boot 애플리케이션 실행 시 생성되는 파일
*.log
logs/

# IDE 또는 빌드 도구 설정 파일
*.iml
*.ipr
*.iws
*.jar
*.war
*.ear

# 사용하지 않는 소스 코드 및 리소스 디렉토리
src/main/test/
